/*
BEST JEWEL is a jewel game with multiple mods.
Copyright © 2013 - 2014 Rémi DUCCESCHI
remi.ducceschi@gmail.com

This file is part of Best Jewel.

Best Jewel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

html, body
{
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}

body
{
	background-color: black;
	color: #CCC;
}

header, footer
{
	height: 5%;
	width: 85%;
	margin: auto;
	text-align: center;
	background-color: green;
}

footer
{
	clear: both;
	position: relative;
	height: 3em;
	margin-top: -3em;
}

#content
{
	height: 95%;
}

section, #second
{
	display: inline-block;
	vertical-align: middle;
}

section
{
	overflow: hidden;
	background-color: blue;
}

aside, nav
{
	padding: 5%;
}

canvas
{
	padding: 3%;
}

button
{
	display: block;
	margin: 3px;
}

@media (min-aspect-ratio: 1/1) /* width >= height (landscape) */
{
	section, #second
	{
		display: inline-block;
	}

	section
	{
		height: 90%;
	}

	aside, nav
	{
		display: block;
	}
}

@media (max-aspect-ratio: 1/1) /* width <= height (portrait) */
{
	section, #second
	{
		display: block;
		height: auto;
	}

	aside, nav
	{
		display: inline-block;
	}
}
